<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" contents="IE=edge">
    <meta name="viewport" contents="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles.css">
    <title>Notes Application</title>
</head>
<body>
    <h1>Notes Application</h1>
    <form action="createNote" method="post">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="contents" placeholder="contents">
        <button type="submit">Add Note</button>
    </form>
    <ul>
        <% let i = 0 %>
        <% myNotes.forEach(myNote => { %>
            <li>
                <h2><%= myNote.title %></h2>
                <p><%= myNote.contents %></p>
                <form action="deleteNote" method="post">
                    <input type="hidden" name="id" value="<%= myNotes[i].id %>">
                    <button type="submit">Delete Note</button>
                </form>
                <form action="viewNote" method="get">
                    <input type="hidden" name="id" value="<%= myNotes[i].id %>">
                    <button type="submit">View Note</button>
            </li>
            <% i++ %>
        <% }) %>
    </ul>
</body>
</html>